@model IEnumerable<MyProjectTravel.Models.Itinerary>

@{
    ViewData["Title"] = "GetAllItinerario";
}

<h1>Itinerario</h1>

<p>
    <a asp-controller="Itinerary" asp-action="AddItenerary" class="btn btn-primary">Ingresar un nuevo Itinerario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idWrk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idBus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idOrigin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idDestination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idWrk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idBus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.arrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-controller="Itinerario" asp-action="UpdateItinerario" asp-route-id="@item.idItn" class="btn btn-success">Edit</a>
                        <a asp-controller="Itinerario" asp-action="GetItinerarioById" asp-route-id="@item.idItn" class="btn btn-warning">Detalles</a>
                        <a asp-controller="Itinerario" asp-action="GetItinerarioById" asp-route-id="@item.idItn" class="btn btn-danger">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
